//重置默认的变量
$boxPadding: 50px;
.a-box {
  padding: ($boxPadding - 30px) * 2; //计算
  border: 1px solid red;
  //嵌套
  span {
    display: inline-block;
    border: 1px solid green;
    text-align: center;
    background: {
      color: gainsboro;
      size: 100%;
    }
  ;
  }
}

//定义变量用在属性上
.#{$btnClass} {
  border-#{$borderDirection}: $border;
  color: green;
  font-size: 30px;
}

//继承功能
.font-big {
  font-size: 20px;
}

.font-bold {
  font-weight: bold;
}

.extend-span {
  @extend .font-big, .font-bold;
  display: inline-block;
  padding: {
    left: 20px;
    right: 30px;
  }
  border: 1px solid green;
  text-align: center;
}

.extend-span-tow {
  @extend .extend-span;
  color: white;
}

%zhanwei {
  color: red;
}

.extend-span-t {
  @extend %zhanwei;
  padding: {
    top: 10px;
    bottom: 10px;
    right: 30px;
    left: 20px;
  }
}

.color-span{
  display: inline-block;
  width: 200px;
  height: 40px;
  color: #fff;
  margin: 0 10px;
  line-height: 40px;
  text-align: center;
}
.color-div{
  padding: ($boxPadding - 30px) * 2; //计算
  border: 1px solid red;
}
.color-span:nth-child(0){
  background-color: $color;
}
.color-span:nth-child(1){
  background-color: $gray-darker;
}
.color-span:nth-child(2){
  background-color: $gray-dark;
}
.color-span:nth-child(3){
  background-color: $gray;
}
.color-span:nth-child(4){
  background-color: $gray-light;
}
.color-span:nth-child(5){
  background-color: $gray-lighter;
}


.color-span:nth-child(6){
  background-color: $color1;
}
.color-span:nth-child(7){
  background-color: $red-darker;
}
.color-span:nth-child(8){
  background-color: $red-dark;
}
.color-span:nth-child(9){
  background-color: $red;
}
.color-span:nth-child(9){
  background-color: $rgba-color;
}
