<div style="width: 500px; height: 500px;" echarts [options] = "chartOption" [loading]="showloading" class="demo-chart"></div>
<div style="width: 500px; height: 500px;" echarts [options] = "Baroptions" [loading]="showloading" class="demo-chart"></div>
<div style="width: 500px; height: 500px;" echarts [options] = "linkoption" [loading]="showloading" class="demo-chart"></div>
<div style="width: 500px; height: 500px;" echarts [options] = "mapoption" [loading]="showloading" class="demo-chart"></div>




<!--<div style="width: 500px; height: 500px;" echarts [options] = "zMapOption" class="demo-chart" (chartInit)="onChartInit($event)"></div>-->
