@import "sass/_var";
@import "sass/a";
@import "sass/b";
.bg{
  height: 200px;
  background: $backgroundColor;
}
.fonta{
  font-size: 30px;
  color: #ffffff;
  padding-left: 20px;
}

.sass-menu h3{
  display: inline-block;
  margin-right: 20px;
}



