@import "sass/_var";
//@import "sass/a";
.bg{
  height: 200px;
  background: $backgroundColor;
}
.fonta{
  font-size: 30px;
  color: #ffffff;
  padding-left: 20px;
}
//定义变量用在属性上
.#{$btnClass} {
  border-#{$borderDirection}: $border;
  color: green;
  font-size: 30px;
}
